{% extends 'blog/base.html' %}

{% load static %}

{% block main %}

<header class="masthead" style="background-image: url('{% static '/blog/assets/img/home-bg.jpg' %}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>{% block blog_title %}{% endblock %}</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-10">
            {% block category_title %}{% endblock %}

            {% for article in object_list %}
                <!-- Post preview-->
                <div class="post-preview">
                    <a href="{% url 'Blog:Detail' article.slug %}">
                        <h6 class="post-title">{{article.title}}</h6>
                        <h5 class="post-subtitle">{{article.description|truncatewords:30}}</h5>
                    </a>
                    <p class="post-meta">
                        نویسنده
                        <a href="{% url 'Blog:author' article.author %}">{{article.author.get_full_name}} </a>
                        {{article.jpublish}}
                    </p>
                    <div>
                        {% for cat in article.category.active %}
                            <a href="{% url 'Blog:category' cat.slug %}">#{{cat.title}}</a>
                        {% endfor %}
                    </div>
                </div>
                <!-- Divider-->
                <hr class="my-4" />
            {% endfor %}
            
            <!-- Pager-->
            <div class="d-flex justify-content-end mb-4">
                {% if is_paginated %}
                    <div class="d-flex justify-content-end mb-4 pajer-botten">
                        {% if page_obj.has_previous %}
                            <a class="btn btn-primary text-uppercase" href="{% block previous_page_url %}{% endblock %}">&rarr;  پست‌های جدید</a>
                        {% endif %}
                        <span class="mx-2"></span>
                        {% if page_obj.has_next %}
                            <a class="btn btn-primary text-uppercase" href="{% block next_page_url %}{% endblock %}">پست‌های قدیمی‌تر ←</a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}