@import url('https://cdn.jsdelivr.net/npm/sahel-font@3.4.0/dist/font-face.min.css');
body {
    text-align: right !important;
    direction: rtl !important;
    font-family: Sahel !important;
}

.myfont {
    font-family: Sahel !important;
}

.btn-show-pass {
    right: initial;
    left: 0 !important;
}
