.login100-form-btn {
    font-size: 25px;
}

.txt1 {
    font-family: Poppins-Regular;
    font-size: 17px;
    color: #666666;
    line-height: 1.5;
  }
  
  .txt2 {
    font-family: Poppins-Regular;
    font-size: 18px;
    color: #333333;
    line-height: 1.5;
  }

.focus-input100::after {
  font-family: Sahel;
  font-size: 17px;
  color: #999999;
  line-height: 1.2;

  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 16px;
  left: 0px;
  padding-left: 5px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.errors {
  color: red;
  background: #ffe2e2;
  padding: 20px 30px;
}